.recipes-container {
  width: 662px;
  border: 2px solid rgb(122, 20, 20);
  background-color: rgb(255, 245, 245);
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
}

.title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(122, 20, 20);
  background-color: rgb(240, 114, 114);
  width: fit-content;
}

.recipe {
  margin: 25px;
  display: inline-block;
}

.dish {
  width: 150px;
  height: auto;
}

.recipe-link {
  display: block;
  text-decoration: none;
  color: rgb(122, 20, 20);
  background-color: rgb(240, 114, 114);
  width: fit-content;
  margin: 0 auto;
}